.container {
  max-width: 1200px;
  height: fit-content;
  padding: 24px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  background: #2d4d8c;
  border-radius: 20px;

  border: 1px solid #0b1e45;
  .header {
    margin: 0 auto;
    color: #dcdbac;
    text-align: center;
  }
}
