* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #f2f2f2;
  font-family: stolzl;
  font-weight: 100;
}

/* Styling Placeholders */
::placeholder {
  color: #f2f2f2;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #f2f2f2;
}

::-ms-input-placeholder {
  color: #f2f2f2;
}
